<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <form class="form-group" action="login" method="POST">
            <h3>Login</h3>
            <div class="form-item">
                <label for="email">Email</label>
                <input type="text" name="email" class="email" placeholder="example@example.com">
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" name="password" class="password">
            </div>
            <div class="form-item">
                <input type="submit">
            </div>
        </form>
        <p>Don't have an account? signup <span><a href="/api/users/signup">here</a></span></p>
    </div>
    
    
</body>
</html>